version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: edu-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    restart: always
